@import models.daos.tables.OrderRow.Address
@(address: Option[Address],dentist: String)

@if(address.isDefined){
    <div style="display: block">
        <p style="margin-bottom: 20px"><b>Shipping Address</b></p>
        <table width="40%" cellpadding="0" cellspacing="0" align="left">
            <tr>
                <td style="font-weight: 700">Practice Name</td>
                <td>@address.get.name.getOrElse("")</td>
            </tr>
            <tr>
                <td style="font-weight: 700">Doctor Name</td>
                <td>@dentist</td>
            </tr>
            <tr>
                <td style="font-weight: 700">Phone</td>
                <td>@address.get.phone</td>
            </tr>
            <tr>
                <td style="font-weight: 700">Street</td>
                <td>@address.get.address</td>
            </tr>
            <tr>
                <td style="font-weight: 700">Suite #</td>
                <td>@address.get.suite</td>
            </tr>
            <tr>
                <td style="font-weight: 700">City/State</td>
                <td>@address.get.city, @address.get.state, @address.get.zip</td>
            </tr>
            <tr>
                <td style="font-weight: 700">Country</td>
                <td>@address.get.country</td>
            </tr>

        </table>
    </div>
}